:root {
    --standardPadding: 20px;
    --accent-color: coral;
}

@keyframes labelText {
    from {font-size: 15px; top: 10px; left: 5px;}
    to {font-size: 10px; top: 2px; left: 5px;}
}

* {
    font-family: 'Didact Gothic', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h2 {
    margin: 0;
}

.rightContainer>p {
    padding: 0 var(--standardPadding);
}

.mainContainer,
form,
.leftContainer,
.rightContainer,
.mainFormElements,
.inputLabelPair,
.formRows,
.formRows > div {
    display: flex;
}

.leftContainer,
.rightContainer,
.mainFormElements,
form {
        flex-direction: column;
}

.mainContainer{
    width: 100vw; height: 100vh;
    
}

    .leftContainer {
        flex: 1, 1, auto;
        width: 33%;
        background: url(images/mars-side-image.jpg) no-repeat center/auto 100%;
    }

    .rightContainer {
        flex: 2, 2, auto;
        background-color: rgb(235, 235, 235);
        width: 67%;
        justify-content: center;
    }

        .mainFormElements {
            background-color: white;
            padding: var(--standardPadding);
            box-shadow: 0px 22px 20px -20px black;
        }

            .formRows {
                flex-direction: column;
                gap: 10px;
            }

            .formRows > div {
                justify-content: space-between;
            }

                .inputLabelPair {
                    flex-direction: column;
                    width: min(40%, 350px);
                    position: relative;
                }

                    label {
                        position: absolute;
                        font-size: 15px;
                        top: 10px;
                        left: 5px;
                    }

                    /* input:focus ~ label {
                        animation-name: labelText;
                        animation-duration: 2s;
                    } */

                    input {
                        height: 40px;
                    }

    label + input:focus {
        outline: none;
        border-color: var(--accent-color);
    }

    input[type='button'] {
        margin: var(--standardPadding);
        border: outset black;
        border-radius: 5px;
    }

    input[type='button']:hover {
        background-color: var(--accent-color);
    }

    input[type='button']:active {
        border-style: inset;
        background-color: rgb(209, 105, 66);
    }

    input {
        appearance: none;
        border: solid;
        border-radius: 5px;
    }

